@{
    ViewData["Title"] = "Home Page";
}

<head>
    
    <style>
        .text-center {
            text-align: center;
            margin-top: 50px; /* Ajusta el margen superior para el espacio entre el título y la imagen */
        }

        .display-4 {
            font-size: 36px; /* Tamaño de la letra grande */
            color: orange; /* Color naranja */
        }

        
    </style>
</head>
<body>
    
        
        <img src="~/img/portadaFinal.png" alt="GIF de ejemplo">
    
</body>