@model SupermercadoMDDII.Models.ProductoModel

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">¿Esta usted seguro de eliminar el producto?</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
            </div>

        </div>
        <hr />

        <div class="row">
            <div class="col-sm-12">
                <form asp-action="Delete" id="formDelete">
                    <input type="hidden" value="0" id="txtId">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="col-sm-1">
                        <button type="submit" form="formDelete" class="btn btn-primary btn-sm">Eliminar</button>
                    </div>

                </form>

            </div>

        </div>
        <hr />
        <div class="row ">

            <div class="col-sm-1">
                <form asp-action="Index">
                    <button class="btn btn-danger btn-sm" type="submit">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>